@import "antd/dist/antd.css";

fieldset {
  width: 75%;
  height: 90%;
  border: 1px solid #454545;
  border-radius: 20px;
  margin: 50px 0 50px 200px;
  padding: 20px 80px;
  font-weight: 600;
}

legend {
  font-size: 14pt;
  font-weight: bold;
  text-align: left;
}

.warningPanel {
  width: 95%;
  font-size: 12pt;
  text-align: left;
  background-color: rgb(183, 209, 200);
  border-radius: 10px;
  padding: 5px;
  margin: 0px 0px 40px 0px;
}

.modality {
  width: 80%;
}

.ant-col-10 {
  max-width: 70%;
}
